@page "/risks"
@using Volo.Abp.Application.Dtos
@using CGInnovation.ProjectZen.Risks
@using CGInnovation.ProjectZen.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<ProjectZenResource> L
@inherits AbpCrudPageBase<IRiskAppService, RiskDto, Guid, PagedAndSortedResultRequestDto, CreateUpdateRiskDto>

@*<h3>RisksPage</h3>
<h2>Risks</h2>
*@
<Card>
    <CardHeader>
        <h2>@L["Risks"]</h2>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="RiskDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn TItem="RiskDto"
                                Field="@nameof(RiskDto.Name)"
                                Caption="@L["Name"]"></DataGridColumn>
                <DataGridColumn TItem="RiskDto"
                                Field="@nameof(RiskDto.Occures)"
                                Caption="@L["Occures"]">
                   @* <DisplayTemplate>
                        @L[$"Enum:BookType:{(int)context.Type}"]
                    </DisplayTemplate>*@
                </DataGridColumn>
                <DataGridColumn TItem="RiskDto"
                                Field="@nameof(RiskDto.OccuredDate)"
                                Caption="@L["OccuredDate"]">
                    <DisplayTemplate>
                        @context.OccuredDate.ToShortDateString()
                    </DisplayTemplate>
                </DataGridColumn>
                @*<DataGridColumn TItem="BookDto"
                                Field="@nameof(BookDto.Price)"
                                Caption="@L["Price"]">
                </DataGridColumn>
                <DataGridColumn TItem="BookDto"
                                Field="@nameof(BookDto.CreationTime)"
                                Caption="@L["CreationTime"]">
                    <DisplayTemplate>
                        @context.CreationTime.ToLongDateString()
                    </DisplayTemplate>
                </DataGridColumn>*@
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@code {

}
